@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
    user-select: none;
    color: inherit !important;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


.col-1{
    width: 6.333333333%;
    float: left;
    margin: 0 1%;
  }
  .col-2{
    width: 14.66666667%;
    float: left;
    margin: 0 1%;
  }
  .col-3{
    width: 23%;
    float: left;
    margin: 0 1%;
  }
  .col-4{
    width: 31.33333333%;
    float: left;
    margin: 0 1%;
  }
  .col-5{
    width: 39.66666667%;
    float: left;
    margin: 0 1%;
  }
  .col-6{
    width:48%;
    float: left;
    margin: 0 1%;
  }
  .col-7{
    width: 56.33333333%;
    float: left;
    margin: 0 1%;
  }
  .col-8{
    width: 64.66666667;
    float: left;
    margin: 0 1%;
  }
  .col-9{
    width: 73%;
    float: left;
    margin: 0 1%;
  }
  .col-10{
    width: 81.33333333%;
    float: left;
    margin: 0 1%;
  }
  .col-11{
    width: 89.66666667%;
    float: left;
    margin: 0 1%;
  }
  .col-12{
    width: 98%;
    float: left;
    margin: 0 1%;
  }

$font-01: 'Muli', sans-serif;
$s1 : .5s;
$m-01: #7681A4;
$m-02: #5D698D;

$c-01: #10182F;
$c-02: #545D7A;
$c-03: #306BF3;


$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #F7F8FC;
$neu-02: #DAE1F5;
$neu-03: #6F7073;
$neu-04: #505050;
$neu-05: #403E3E;
@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}
@mixin lg {
    @media screen and (max-width: 1180px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

body { 
  height: 500vh;
}
button.login{
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  color: #fff;
  cursor: pointer;
  transform: rotate(-90deg);
  margin-top: 50px;
}

p{
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  display: inline-block;
  border-radius: 10%;
  padding: 10px 10px;
}




// ul li {
//   padding: 3px 20px;
//   display: inline-block;
//   margin-top: 100px;
// }

// ul li::after{
//   content: '';
//   width: 0;
//   height: 2px;
//   background-color: yellow;
//   display: block;
//   margin: auto;  
//   transition: .5s;
// }

// ul li:hover::after{
//   width: 100%;
//   bottom: 0px;
// }

.nav{
  background-color: #111;
  .container-fluid{
    margin: 0 !important;
    padding: 0 !important;
    .nav-right{
      display: flex !important;
      align-items: center;
      ul{
        margin: 0px !important;
        padding: 0px !important;
        li{
          display: inline-block;
          margin: 0 !important;
          padding: 0 !important;
          a{
            display: block;
            color: #fff !important;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: palevioletred;
            padding: 10px 20px;
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}

